.btn.btn-primary {
    color: #fff;
    border-color: #192440;
    background-color: #192440;
}
.btn-check:active+.btn.btn-primary, .btn-check:checked+.btn.btn-primary, .btn.btn-primary.active, .btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active), .btn.btn-primary:hover:not(.btn-active), .show>.btn.btn-primary {
    color: #fff;
    border-color: #e6ad22;
    background-color: #e6ad22 !important;
}
.btn-check:active+.btn.btn-light, .btn-check:checked+.btn.btn-light, .btn.btn-light.active, .btn.btn-light-primary.show, .btn.btn-light-primary:active:not(.btn-active), .btn.btn-light-primary:focus:not(.btn-active), .btn.btn-light-primary:hover:not(.btn-active), .show>.btn.btn-light-primary {
    color: #fff;
    border-color: #e6ad22;
    background-color: #e6ad22 !important;
}
.link-primary {
    color: #192440;
}
.link-primary:focus, .link-primary:hover {
    color: #e6ad22;
}
.form-check.form-check-solid .form-check-input:checked {
    background-color: #192440;
}
.text-hover-primary:hover {
    color: #e6ad22 !important;
}
.text-logo1 {
    color: #192440 !important;
}
.text-logo2 {
    color: #e6ad22 !important;
}

.text-Silver {
    color: #B0B0B0;
}
.text-Gold {
    color: #FFB000;
}
.text-Platinum {
    color: #7239ea;
}
.text-Diamond {
    color: #00F0FF;
}
.text-Elite {
    color: #8B0000;
}
.text-Legend {
    color: #FF2E2E;
}
.sidebar-enabled .wrapper {
    padding-right: 0px !important;
}
.wrapper {
    padding-top: 5px !important;
    padding-left: 0px !important;
}
.landing-header .menu .menu-link.active {
    color: #e6ad22!important;
}
.menu-state-title-primary .menu-item .menu-link:hover:not(.disabled):not(.active), .menu-state-title-primary .menu-item.hover>.menu-link:not(.disabled):not(.active) {
    transition: color .2s ease, background-color .2s ease;
    color: #e6ad22 !important;
}

.menu-state-title-primary .menu-item .menu-link.active {
    transition: color .2s ease, background-color .2s ease;
    color: #e6ad22;
}
